<footer class="bg-white shadow-inner mt-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="flex justify-center items-center text-gray-600 text-sm">
      <span>&copy; <%= Time.current.year %> Nicholas Kotzias — Todos os direitos reservados.</span>
    </div>
  </div>
</footer>
